@model IEnumerable<Trip>

@{
    ViewData["Title"] = "Index";
}
<div class="m-2">
    <a asp-action="Add1" asp-controller="TripController" asp-route-id="page1">Add Trip</a>
</div>
<form asp-action="Delete" asp-controller="Trip">
    <table class="table table-bordered table-striped mt-2">
        <thead>
           <tr>
                <th>Destination</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Accommodation</th>
                <th>Things To Do</th>
                <th></th>
           </tr>
            
        </thead>
        <tbody>
            @foreach(Trip trip in Model)
            {
                <tr>
                    <td>@trip.Destination.DestName</td>
                    <td>@trip.StartDate?.ToShortDateString()</td>
                    <td>@trip.EndDate?.ToLongDateString()</td>
                    <td>
                        <div>@trip.Accommodation.AccommodationName</div>
                        @if(trip.Accommodation.HasPhone)
                        {
                            <div>Phone: @trip.Accommodation.Phone</div>
                        }
                        @if(trip.Accommodation.HasEmail)
                        {
                            <div>Email: @trip.Accommodation.Email</div>
                        }
                    </td>
                    <td>
                        @foreach(Activity act in trip.Activities )
                        {
                            <div>@act.ActivityName</div>
                        }
                    </td>
                    <td>
                        <button type="submit" name="id" value="@trip.TripId" class="btn btn-primary">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accommodation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Destination.DestName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accommodation.AccommodationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TripId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TripId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TripId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
